@{
    ViewData["Title"] = "Success";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <p>Registration success</p>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Index</a>
</div>
</body>
</html>

